.users-box {
    display: flex;
    flex-wrap: wrap;
}

.user-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 70px;

}

h2 {
    margin: 0;
}